<div class="modal">
  <div class="modal-content">
    <h2>Crear Cliente</h2>
    <form [formGroup]="clientForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Nombre</label>
        <input id="name" formControlName="name" type="text" />
        @if(clientForm.get('name')?.invalid && clientForm.get('name')?.touched){
        <div>
          @if(clientForm.get('name')?.hasError('required')){
          <small class="error">Nombre es requerido</small>
          }
        </div>
        }
      </div>

      <div class="form-group">
        <label for="gender">Género</label>
        <select id="gender" formControlName="gender">
          <option value="">Seleccione un género</option>
          <option value="Masculino">Masculino</option>
          <option value="Femenino">Femenino</option>
        </select>
        @if(clientForm.get('gender')?.invalid &&
        clientForm.get('gender')?.touched){
        <div>
          @if (clientForm.get('gender')?.hasError('required')) {
          <small class="error">Género es requerido</small>
          }
        </div>
        }
      </div>

      <div class="form-group">
        <label for="age">Edad</label>
        <input id="age" formControlName="age" type="number" />
        @if (clientForm.get('age')?.invalid && clientForm.get('age')?.touched) {
        <div>
          @if (clientForm.get('age')?.hasError('required')) {
          <small class="error">Edad es requerida</small>
          }
        </div>
        }
      </div>

      <div class="form-group">
        <label for="identification">Identificación</label>
        <input
          id="identification"
          formControlName="identification"
          type="text"
        />
        @if (clientForm.get('identification')?.invalid &&
        clientForm.get('identification')?.touched) {
        <div>
          @if (clientForm.get('identification')?.hasError('required')) {
          <small class="error">Identificación es requerida</small>
          } @if (clientForm.get('identification')?.hasError('minlength')) {
          <small class="error"
            >Identificación debe tener al menos 6 caracteres</small
          >
          }
        </div>
        }
      </div>

      <div class="form-group">
        <label for="address">Dirección</label>
        <input id="address" formControlName="address" type="text" />
      </div>

      <div class="form-group">
        <label for="phone">Celular</label>
        <input id="phone" formControlName="phone" type="text" />
      </div>

      <div class="form-group">
        <label for="clientId">ID del Cliente</label>
        <input id="clientId" formControlName="clientId" type="text" />
        @if (clientForm.get('clientId')?.invalid &&
        clientForm.get('clientId')?.touched) {
        <div>
          @if (clientForm.get('clientId')?.hasError('required')) {
          <small class="error">ID del cliente es requerido</small>
          } @if (clientForm.get('clientId')?.hasError('minlength')) {
          <small class="error" *ngIf=""
            >ID del cliente debe tener al menos 5 caracteres</small
          >
          }
        </div>
        }
      </div>

      <div class="form-group">
        <label for="password">Contraseña</label>
        <input id="password" formControlName="password" type="password" />
        @if (clientForm.get('password')?.invalid &&
        clientForm.get('password')?.touched) {
        <div>
          @if (clientForm.get('password')?.hasError('required')) {
          <small class="error">Contraseña es requerida</small>
          }
        </div>
        }
      </div>

      <div class="form-group">
        <label for="status">Estado</label>
        <select id="status" formControlName="status">
          <option [value]="true">Activo</option>
          <option [value]="false">Inactivo</option>
        </select>
      </div>

      <div class="button-group">
        <button
          type="submit"
          class="button primary"
          [disabled]="clientForm.invalid"
        >
          Guardar
        </button>
        <button type="button" class="button secondary" (click)="onCancel()">
          Cancelar
        </button>
      </div>
    </form>
  </div>
</div>
