<div class="modal">
  <div class="modal-content">
    <h2>Crear Transacción</h2>
    <form [formGroup]="transactionForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="clientId">Cliente</label>
        <select
          id="clientId"
          formControlName="clientId"
          (change)="onClientChange($event)"
        >
          <option value="">Seleccione un cliente</option>
          @for (client of clients; track (client)) {
          <option [value]="client.id">
            {{ client.name }}
          </option>
          }
        </select>
        @if (transactionForm.get('clientId')?.invalid &&
        transactionForm.get('clientId')?.touched) {
        <div>
          @if (transactionForm.get('clientId')?.hasError('required')) {
          <small class="error">Cliente es requerido</small>
          }
        </div>
        }
      </div>

      <div class="form-group">
        <label for="accountId">Cuenta</label>
        <select id="accountId" formControlName="accountId">
          <option value="">Seleccione una cuenta</option>
          @for (account of filteredAccounts; track (account)) {
          <option [value]="account.id">
            {{ account.accountNumber }}
          </option>
          }
        </select>
        @if (transactionForm.get('accountId')?.invalid &&
        transactionForm.get('accountId')?.touched) {
        <div>
          @if (transactionForm.get('accountId')?.hasError('required')) {
          <small class="error">Cuenta es requerida</small>
          }
        </div>
        }
      </div>

      <div class="form-group">
        <label for="transactionType">Tipo de Transacción</label>
        <select id="transactionType" formControlName="transactionType">
          <option value="CREDIT">Crédito</option>
          <option value="DEBIT">Débito</option>
        </select>
        @if (transactionForm.get('transactionType')?.invalid &&
        transactionForm.get('transactionType')?.touched) {
        <div>
          @if (transactionForm.get('transactionType')?.hasError('required')) {
          <small class="error">Tipo de transacción es requerido</small>
          }
        </div>
        }
      </div>

      <div class="form-group">
        <label for="amount">Monto</label>
        <input id="amount" formControlName="amount" type="number" />
        @if (transactionForm.get('amount')?.invalid &&
        transactionForm.get('amount')?.touched) {
        <div>
          @if (transactionForm.get('amount')?.hasError('required')) {
          <small class="error">Monto es requerido</small>
          } @if (transactionForm.get('amount')?.hasError('min')) {
          <small class="error">Monto debe ser mayor a 0</small>
          }
        </div>
        }
      </div>

      <div class="form-group">
        <label for="date">Fecha</label>
        <input id="date" formControlName="date" type="datetime-local" />
        @if (transactionForm.get('date')?.invalid &&
        transactionForm.get('date')?.touched) {
        <div>
          @if (transactionForm.get('date')?.hasError('required')) {
          <small class="error">Fecha es requerida</small>
          }
        </div>
        }
      </div>

      <div class="button-group">
        <button
          type="submit"
          class="button primary"
          [disabled]="transactionForm.invalid"
        >
          Guardar
        </button>
        <button type="button" class="button secondary" (click)="onCancel()">
          Cancelar
        </button>
      </div>
    </form>
  </div>
</div>
