<div class="container">
  <div class="header">
    <h1>Clientes</h1>
  </div>
  <div class="actions">
    <div class="search-bar">
      <input type="text" placeholder="Buscar" class="search-input" />
    </div>
    <div>
      <button class="create-button" (click)="openCreateClientModal()">
        Crear cliente
      </button>
    </div>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Genero</th>
        <th>Edad</th>
        <th>Identificación</th>
        <th>Dirección</th>
        <th>Telefono</th>
        <th>Estado</th>
      </tr>
    </thead>
    <tbody>
      @for (client of clients; track (client)) {
      <tr>
        <td>{{ client.name }}</td>
        <td>{{ client.gender }}</td>
        <td>{{ client.age }}</td>
        <td>{{ client.identification }}</td>
        <td>{{ client.address }}</td>
        <td>{{ client.phone }}</td>
        <td>{{ client.status }}</td>
      </tr>
      }
    </tbody>
  </table>
</div>

@if (showCreateClientModal) {
<app-client-list
  (closeModal)="closeCreateClientModal()"
  (clientCreated)="onClientCreated()"
></app-client-list>
}
