<div class="modal">
  <div class="modal-content">
    <h2>Create New Account</h2>

    <form [formGroup]="accountForm" (ngSubmit)="createAccount()">
      <div class="form-group">
        <label for="client">Seleccione el cliente:</label>
        <select
          id="client"
          formControlName="clientId"
          class="form-control"
          required
        >
          @for(client of clients; track (client)){
          <option [value]="client.id">
            {{ client.name }}
          </option>
          }
        </select>
      </div>

      <div class="form-group">
        <label for="accountNumber">Numero de cuenta:</label>
        <input
          id="accountNumber"
          formControlName="accountNumber"
          class="form-control"
          required
        />
      </div>

      <div class="form-group">
        <label for="accountType">Tipo de cuenta:</label>
        <select
          id="accountType"
          formControlName="accountType"
          class="form-control"
          required
        >
          <option value="Ahorros">Ahorros</option>
          <option value="Corriente">Corriente</option>
        </select>
      </div>

      <div class="form-group">
        <label for="initialBalance">Saldo inicial:</label>
        <input
          id="initialBalance"
          formControlName="initialBalance"
          type="number"
          class="form-control"
          required
        />
      </div>

      <div class="form-group">
        <label for="status">Activa:</label>
        <input
          id="status"
          type="checkbox"
          formControlName="status"
          class="form-control"
        />
      </div>

      <div class="button-group">
        <button
          type="submit"
          class="button primary"
          [disabled]="accountForm.invalid"
        >
          Create Account
        </button>
        <button type="button" (click)="cancelModal()" class="button secondary">
          Cancel
        </button>
      </div>
    </form>
  </div>
</div>
