<aside class="sidebar">
  <div class="menu">
    <h1 class="title">Banco Pichinca</h1>
    <a
      routerLink="/clients"
      routerLinkActive="active"
      class="menu-link"
      aria-current="page"
      >Clientes</a
    >
    <a routerLink="/accounts" routerLinkActive="active" class="menu-link"
      >Cuentas</a
    >
    <a routerLink="/transaction" routerLinkActive="active" class="menu-link"
      >Movimientos</a
    >
    <a routerLink="/reports" routerLinkActive="active" class="menu-link"
      >Reportes</a
    >
  </div>
</aside>
